* {
    background: rgb(16%, 25%, 67%);
}

/* // NAVBAR STYLING // */

.nav {
    background: black;
    padding: 20px;
    font-family: sans-serif;
}

/* // LINK STYLING // */

.home-link {
    color: white;
    background: black;
    padding: 10px;
    text-decoration: none;
}

.songs-link {
    color: white;
    background: black;
    padding: 10px;
    text-decoration: none;
}

/* // SONGS INDEX STYLING // */

.songs-index {
    font-size: 20px;
}

.songs {
    color: white;
    background: rgb(16%, 25%, 67%);
    font-family: sans-serif;
    margin: 20px;
}

.song {
    font-family: sans-serif;
    padding: 10px;
}